@model ProjectLightSwitch.Models.StoryResponseCreationViewModel
<h3>@ProjectLightSwitch.Views.StoryPortal.StoryResources.Part3Header</h3>
@for (int i = 0; i < Model.StoryQuestions.Count(); i++)
{
    <h4 class="nopadding nomargin">@Model.StoryQuestions.ElementAt(i).Prompt</h4>
    <textarea name="StoryAnswers[@Model.StoryQuestions.ElementAt(i).QuestionId]" class="full-width" data-rule-required="true" cols="50" rows="3"></textarea>
}