@model ProjectLightSwitch.Models.StoryResponseViewModel

<section>
    <h3>@ProjectLightSwitch.Views.StoryPortal.StoryResources.Part3Header</h3>

    @for(int i = 0; i < Model.Questions.Count; i++)
    { 
        @Model.Questions[i].Prompt
        <br />
        <textarea name="Answers[@i]" style="width:100%" rows="8"></textarea>
    }
</section>