@model ProjectLightSwitch.Models.StoryResponseViewModel

<section>
    <h3>@ProjectLightSwitch.Views.StoryPortal.StoryResources.Part3Header</h3>

    @for(int i = 0; i < Model.Questions.Count; i++)
    { 
        <h4 class="nopadding nomargin">@Model.Questions[i].Prompt</h4>
        <textarea name="Answers[@i]" class="full-width" cols="50" rows="3"></textarea>
    }
</section>