@model ProjectLightSwitch.Models.StoryStepModel
@* Requires .steps{} style in Site_Custom.css *@
<div class="steps float-right">
    @for (int i = 1; i <= Model.NumSteps; i++)
    {
        if (i == Model.CurrentStep)
        {
            <span class="sel">@i</span>
        }
        else
        {
            <span>@i</span>
        }
    }
</div>