@model ProjectLightSwitch.Models.StoryResponseCreationViewModel
@{ var minStoryLength = "30"; }
<h3>@ProjectLightSwitch.Views.StoryPortal.StoryResources.Part2Header</h3>

<table>
    <tr>
        <td>Story Title:</td>
        <td><input type="text" name="StoryTitle" style="max-width:100%" data-rule-required="true" /></td>
    </tr>
    <tr>
        <td>Story:</td>
        <td><textarea name="StoryResponse" rows="8" cols="50" style="max-width:100%" data-rule-required="true" data-rule-minlength="@minStoryLength"></textarea></td>
    </tr>
    <tr>
        <td>Tags:</td>
        <td><div id="tagnav"></div><br class="clear" /></td>
    </tr>
    <tr>
        <td>Selected Tags:</td>
        <td><div id="selectedTags"></div><br class="clear" /></td>
    </tr>
</table>