@model ProjectLightSwitch.Models.StoryResponseViewModel
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>

@section head {
    @Styles.Render("~/Content/tagnav")
    @Scripts.Render("~/bundles/tags")
}

@section scripts
{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            (function () {
                $('#gender').buttonset();
                //$('#age').spinner();

                var tagnav = new TagNavigator($('#tagnav'));
                var breadcrumbs = new SelectedTagBreadCrumbs($('#selectedTags'), tagnav, { cssPrefix: '', separator: ' > ', closable: true });

                NavigateToStep(0);
            })();
        });

        function NavigateToStep(idx)
        {
            var container = $('#storyWizard');
            container.children().hide();
            if (idx >= 0) {
                container.children().eq(idx).show();
            }
        }
    </script>
}

@using(Html.BeginForm("Create", "StoryPortal", FormMethod.Post))
{
    

<div id="storyWizard">
    <div>
        <div class="right">@{ Html.RenderPartial("~/Views/StoryPortal/_StorySteps.cshtml", new ProjectLightSwitch.Models.StoryStepModel() { CurrentStep = 1, NumSteps = 3 }, null); }</div>
        @{ Html.RenderPartial("~/Views/StoryPortal/_PersonalInfoEntry.cshtml", Model); }
        <div><a href="#" onclick="NavigateToStep(1); return false;">Next</a></div>
    </div>
    <div>
        <div class="right">@{ Html.RenderPartial("~/Views/StoryPortal/_StorySteps.cshtml", new ProjectLightSwitch.Models.StoryStepModel() { CurrentStep = 2, NumSteps = 3 }, null); }</div>
        @{ Html.RenderPartial("~/Views/StoryPortal/_StoryEntry.cshtml", Model); }
        <div>
            <a href="#" onclick="NavigateToStep(1); return false;">Previous</a> | 
            <a href="#" onclick="NavigateToStep(2); return false;">Next</a>
        </div>
    </div>
    <div>
        <div class="right">@{ Html.RenderPartial("~/Views/StoryPortal/_StorySteps.cshtml", new ProjectLightSwitch.Models.StoryStepModel() { CurrentStep = 3, NumSteps = 3 }, null); }</div>
        @{ Html.RenderPartial("~/Views/StoryPortal/_AnswerEntry.cshtml", Model); }
        <div>
            <a href="#" onclick="NavigateToStep(2); return false;">Previous</a> | 
            <input type="submit" value="Submit Story" />
        </div>
    </div>
</div>
}