@{Layout = "~/Views/Shared/_Layout.cshtml";}   
@RenderPage("~/Views/Shared/_StoryPortal_Section.cshtml")
<div id="Container">
    <hr />
    <div>
        @RenderPage("~/Views/Shared/Slider.cshtml")
        TEMPORARY SLIDER
    </div>
    <hr />
    <div class="most_popular">
        <img class="most_popular_img" src="holder.js/300x200" />
        <p><h2 class="most_popular_tags">Most Popular Story Tags</h2></p>
    </div>
    <hr />
    <div class="recent_blog_posts">
        <div><h2>Recent Blog Posts</h2></div>
        <img class="recent_blog_img" src="holder.js/200x100" />
        <img class="recent_blog_img" src="holder.js/200x100" />
        <img class="recent_blog_img" src="holder.js/200x100" />
        <img class="recent_blog_img" src="holder.js/200x100" />
    </div>
</div>