@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1>Project Lightswitch</h1>
        </div>
    </section>
}

@section head {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/StoryWizard.js")
}

@section scripts
{

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#form').validate();
        });

        //var rules = 
        //        this._rules = {
        //            'radio': {
        //                required: true
        //            },
        //            'name': {
        //                required: true,
        //                minlength: 8,
        //            },
        //            'age': {
        //                required: true,
        //                min: 13,
        //                max: 150
        //            },
        //            'name2': {
        //                regex: /^eric$/i,
        //                required: true,
        //            },
        //            'age2': {
        //                required: true
        //            },
        //            'name3': {
        //                required: true,
        //                minlength: 2,
        //            },
        //            'age3': {
        //                required: true
        //            }
        //        };

        //(function (form, rules) {
        //    var wizard = new StoryWizard('form', rules);
        //})('form', rules);

    </script>
}
Tab Navigator:
<h3>My Tags:</h3>

<form id="form" action="#submitted" method="get">
    <section id="part1">
        <div id="extra">part1</div>

        <input type="radio" name="radio" value="1" data-rule-required="true" />
        <input type="radio" name="radio" value="2" data-rule-required="true" />
        <input type="radio" name="radio" value="3" data-rule-required="true" />

        <input id="name" name="name" type="text" data-rule-required="true" />
        <input id="age" name="age" type="text" data-rule-required="true" />

        <a href="#" class="next-section">Next</a>
    </section>
    
    <section id="part2">
        <div id="extra">part2</div>

        (must be 'eric')<input id="name2" name="name2" type="text" />
        <input id="age2" name="age2" type="text" />

        <a href="#" class="prev-section">Previous</a>
        <a href="#" class="next-section">Next</a>
    </section>

    <section id="part3">
        <div id="extra">part3</div>

        <input id="name3" name="name3" type="text" />
        <input id="age3" name="age3" type="text" />

        <a href="#" class="prev-section">Previous</a>
        <a href="#" class="next-section">Next</a>
    </section>
</form>