@{
    ViewBag.Title = "Home Page";
}


@section head {
    @Scripts.Render("~/Scripts/StoryWizard.js", "~/bundles/jqueryval")

}

@section scripts
{

    <script type="text/javascript">
        var v = new StoryWizard('#storyWizard');
    </script>
}
    <form action="/StoryPortal/Create/10" id="storyWizard" method="post">
        <input data-val="true" data-val-number="The field TranslatedStoryTypeId must be a number." data-val-required="The TranslatedStoryTypeId field is required." id="StoryTypeResultModel_TranslatedStoryTypeId" name="StoryTypeResultModel.TranslatedStoryTypeId" type="hidden" value="10" />
        <section>
            <div class="right">
                <div class="steps float-right">
                    <span class="sel">1</span>
                    <span>2</span>
                    <span>3</span>
                </div>
            </div>
            <h3>Part One: About You</h3>
            <table class="input-form">
                <tr>
                    <td>Age:</td>
                    <td>
                        <input type="text" id="age" name="age" data-rule-required="true" data-rule-min="13" data-rule-max="150" />
                    </td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td>
                        <div id="gender">
                            <input type="radio" id="radioM" name="gender" value="Male" data-rule-required="true"><label for="radioM">Male</label>
                            <input type="radio" id="radioF" name="gender" value="Female"><label for="radioF">Female</label>
                            <input type="radio" id="radioI" name="gender" value="Intersex"><label for="radioI">Intersex</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>
                        <select data-rule-min="1">
                            <option value="1">United States</option>
                            <option value="2">Canada</option>
                            <option value="3">Afghanistan</option>
                            <option value="4">Albania</option>
                            <option value="5">Algeria</option>
                            <option value="6">American Samoa</option>
                            <option value="7">Andorra</option>
                            <option value="8">Angola</option>
                            <option value="9">Anguilla</option>
                            <option value="10">Antarctica</option>
                            <option value="11">Antigua and Barbuda</option>
                            <option value="12">Argentina</option>
                            <option value="13">Armenia</option>
                            <option value="14">Armenia</option>
                            <option value="15">Aruba</option>
                            <option value="16">Australia</option>
                            <option value="17">Austria</option>
                            <option value="18">Azerbaijan</option>
                            <option value="19">Azerbaijan</option>
                            <option value="20">Bahamas</option>
                            <option value="21">Bahrain</option>
                            <option value="22">Bangladesh</option>
                            <option value="23">Barbados</option>
                            <option value="24">Belarus</option>
                            <option value="25">Belgium</option>
                            <option value="26">Belize</option>
                            <option value="27">Benin</option>
                            <option value="28">Bermuda</option>
                            <option value="29">Bhutan</option>
                            <option value="30">Bolivia</option>
                            <option value="31">Bosnia and Herzegovina</option>
                            <option value="32">Botswana</option>
                            <option value="33">Bouvet Island</option>
                            <option value="34">Brazil</option>
                            <option value="35">British Indian Ocean Territory</option>
                            <option value="36">Brunei Darussalam</option>
                            <option value="37">Bulgaria</option>
                            <option value="38">Burkina Faso</option>
                            <option value="39">Burundi</option>
                            <option value="40">Cambodia</option>
                            <option value="41">Cameroon</option>
                            <option value="42">Canada</option>
                            <option value="43">Cape Verde</option>
                            <option value="44">Cayman Islands</option>
                            <option value="45">Central African Republic</option>
                            <option value="46">Chad</option>
                            <option value="47">Chile</option>
                            <option value="48">China</option>
                            <option value="49">Christmas Island</option>
                            <option value="50">Cocos (Keeling) Islands</option>
                            <option value="51">Colombia</option>
                            <option value="52">Comoros</option>
                            <option value="53">Congo</option>
                            <option value="54">Congo, The Democratic Republic of The</option>
                            <option value="55">Cook Islands</option>
                            <option value="56">Costa Rica</option>
                            <option value="57">Cote D&#39;ivoire</option>
                            <option value="58">Croatia</option>
                            <option value="59">Cuba</option>
                            <option value="60">Cyprus</option>
                            <option value="61">Czech Republic</option>
                            <option value="62">Denmark</option>
                            <option value="63">Djibouti</option>
                            <option value="64">Dominica</option>
                            <option value="65">Dominican Republic</option>
                            <option value="66">Easter Island</option>
                            <option value="67">Ecuador</option>
                            <option value="68">Egypt</option>
                            <option value="69">El Salvador</option>
                            <option value="70">Equatorial Guinea</option>
                            <option value="71">Eritrea</option>
                            <option value="72">Estonia</option>
                            <option value="73">Ethiopia</option>
                            <option value="74">Falkland Islands (Malvinas)</option>
                            <option value="75">Faroe Islands</option>
                            <option value="76">Fiji</option>
                            <option value="77">Finland</option>
                            <option value="78">France</option>
                            <option value="79">French Guiana</option>
                            <option value="80">French Polynesia</option>
                            <option value="81">French Southern Territories</option>
                            <option value="82">Gabon</option>
                            <option value="83">Gambia</option>
                            <option value="84">Georgia</option>
                            <option value="85">Germany</option>
                            <option value="86">Ghana</option>
                            <option value="87">Gibraltar</option>
                            <option value="88">Greece</option>
                            <option value="89">Greenland</option>
                            <option value="90">Grenada</option>
                            <option value="91">Guadeloupe</option>
                            <option value="92">Guam</option>
                            <option value="93">Guatemala</option>
                            <option value="94">Guinea</option>
                            <option value="95">Guinea-bissau</option>
                            <option value="96">Guyana</option>
                            <option value="97">Haiti</option>
                            <option value="98">Heard Island and Mcdonald Islands</option>
                            <option value="99">Honduras</option>
                            <option value="100">Hong Kong</option>
                            <option value="101">Hungary</option>
                            <option value="102">Iceland</option>
                            <option value="103">India</option>
                            <option value="104">Indonesia</option>
                            <option value="105">Indonesia</option>
                            <option value="106">Iran</option>
                            <option value="107">Iraq</option>
                            <option value="108">Ireland</option>
                            <option value="109">Israel</option>
                            <option value="110">Italy</option>
                            <option value="111">Jamaica</option>
                            <option value="112">Japan</option>
                            <option value="113">Jordan</option>
                            <option value="114">Kazakhstan</option>
                            <option value="115">Kazakhstan</option>
                            <option value="116">Kenya</option>
                            <option value="117">Kiribati</option>
                            <option value="118">Korea, North</option>
                            <option value="119">Korea, South</option>
                            <option value="120">Kosovo</option>
                            <option value="121">Kuwait</option>
                            <option value="122">Kyrgyzstan</option>
                            <option value="123">Laos</option>
                            <option value="124">Latvia</option>
                            <option value="125">Lebanon</option>
                            <option value="126">Lesotho</option>
                            <option value="127">Liberia</option>
                            <option value="128">Libyan Arab Jamahiriya</option>
                            <option value="129">Liechtenstein</option>
                            <option value="130">Lithuania</option>
                            <option value="131">Luxembourg</option>
                            <option value="132">Macau</option>
                            <option value="133">Macedonia</option>
                            <option value="134">Madagascar</option>
                            <option value="135">Malawi</option>
                            <option value="136">Malaysia</option>
                            <option value="137">Maldives</option>
                            <option value="138">Mali</option>
                            <option value="139">Malta</option>
                            <option value="140">Marshall Islands</option>
                            <option value="141">Martinique</option>
                            <option value="142">Mauritania</option>
                            <option value="143">Mauritius</option>
                            <option value="144">Mayotte</option>
                            <option value="145">Mexico</option>
                            <option value="146">Micronesia, Federated States of</option>
                            <option value="147">Moldova, Republic of</option>
                            <option value="148">Monaco</option>
                            <option value="149">Mongolia</option>
                            <option value="150">Montenegro</option>
                            <option value="151">Montserrat</option>
                            <option value="152">Morocco</option>
                            <option value="153">Mozambique</option>
                            <option value="154">Myanmar</option>
                            <option value="155">Namibia</option>
                            <option value="156">Nauru</option>
                            <option value="157">Nepal</option>
                            <option value="158">Netherlands</option>
                            <option value="159">Netherlands Antilles</option>
                            <option value="160">New Caledonia</option>
                            <option value="161">New Zealand</option>
                            <option value="162">Nicaragua</option>
                            <option value="163">Niger</option>
                            <option value="164">Nigeria</option>
                            <option value="165">Niue</option>
                            <option value="166">Norfolk Island</option>
                            <option value="167">Northern Mariana Islands</option>
                            <option value="168">Norway</option>
                            <option value="169">Oman</option>
                            <option value="170">Pakistan</option>
                            <option value="171">Palau</option>
                            <option value="172">Palestinian Territory</option>
                            <option value="173">Panama</option>
                            <option value="174">Papua New Guinea</option>
                            <option value="175">Paraguay</option>
                            <option value="176">Peru</option>
                            <option value="177">Philippines</option>
                            <option value="178">Pitcairn</option>
                            <option value="179">Poland</option>
                            <option value="180">Portugal</option>
                            <option value="181">Puerto Rico</option>
                            <option value="182">Qatar</option>
                            <option value="183">Reunion</option>
                            <option value="184">Romania</option>
                            <option value="185">Russia</option>
                            <option value="186">Russia</option>
                            <option value="187">Rwanda</option>
                            <option value="188">Saint Helena</option>
                            <option value="189">Saint Kitts and Nevis</option>
                            <option value="190">Saint Lucia</option>
                            <option value="191">Saint Pierre and Miquelon</option>
                            <option value="192">Saint Vincent and The Grenadines</option>
                            <option value="193">Samoa</option>
                            <option value="194">San Marino</option>
                            <option value="195">Sao Tome and Principe</option>
                            <option value="196">Saudi Arabia</option>
                            <option value="197">Senegal</option>
                            <option value="198">Serbia and Montenegro</option>
                            <option value="199">Seychelles</option>
                            <option value="200">Sierra Leone</option>
                            <option value="201">Singapore</option>
                            <option value="202">Slovakia</option>
                            <option value="203">Slovenia</option>
                            <option value="204">Solomon Islands</option>
                            <option value="205">Somalia</option>
                            <option value="206">South Africa</option>
                            <option value="207">South Georgia and The South Sandwich Islands</option>
                            <option value="208">Spain</option>
                            <option value="209">Sri Lanka</option>
                            <option value="210">Sudan</option>
                            <option value="211">Suriname</option>
                            <option value="212">Svalbard and Jan Mayen</option>
                            <option value="213">Swaziland</option>
                            <option value="214">Sweden</option>
                            <option value="215">Switzerland</option>
                            <option value="216">Syria</option>
                            <option value="217">Taiwan</option>
                            <option value="218">Tajikistan</option>
                            <option value="219">Tanzania, United Republic of</option>
                            <option value="220">Thailand</option>
                            <option value="221">Timor-leste</option>
                            <option value="222">Togo</option>
                            <option value="223">Tokelau</option>
                            <option value="224">Tonga</option>
                            <option value="225">Trinidad and Tobago</option>
                            <option value="226">Tunisia</option>
                            <option value="227">Turkey</option>
                            <option value="228">Turkey</option>
                            <option value="229">Turkmenistan</option>
                            <option value="230">Turks and Caicos Islands</option>
                            <option value="231">Tuvalu</option>
                            <option value="232">Uganda</option>
                            <option value="233">Ukraine</option>
                            <option value="234">United Arab Emirates</option>
                            <option value="235">United Kingdom</option>
                            <option value="236">United States</option>
                            <option value="237">United States Minor Outlying Islands</option>
                            <option value="238">Uruguay</option>
                            <option value="239">Uzbekistan</option>
                            <option value="240">Vanuatu</option>
                            <option value="241">Vatican City</option>
                            <option value="242">Venezuela</option>
                            <option value="243">Vietnam</option>
                            <option value="244">Virgin Islands, British</option>
                            <option value="245">Virgin Islands, U.S.</option>
                            <option value="246">Wallis and Futuna</option>
                            <option value="247">Western Sahara</option>
                            <option value="248">Yemen</option>
                            <option value="249">Yemen</option>
                            <option value="250">Zambia</option>
                        </select>
                </tr>
            </table>
        </section>
        
    </form>
