@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1>Project Lightswitch</h1>
        </div>
    </section>
}

@section head {
    @Scripts.Render("~/bundles/jqueryval")
}

@section scripts
{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

            //$.validator.setDefaults({
            //    debug: true,
            //    success: "valid"
            //});

            showSection(0);

            $("#form").validate({
                rules: {
                    'name': {
                        required: true,
                        minlength: 2,
                    },
                    'age': {
                        required: true
                    },

                    'name2': {
                required: true,
                minlength: 2,
                },
                'age2': {
                required: true
                },

                'name3': {
                    required: true,
                    minlength: 2,
                    },
                    'age3': {
                    required: true
                }
                },
                messages: {
                    'name': {
                        required: "Name is required",
                        minlength: $.validator.format("Please, at least {0} characters are necessary")
                    }, 
                    'age': {
                        required: "Age is required",
                    },
                    'name2': {
                        required: "Name is required",
                        minlength: $.validator.format("Please, at least {0} characters are necessary")
                    },
                    'age2': {
                        required: "Age is required",
                    },
                    'name3': {
                        required: "Name is required",
                        minlength: $.validator.format("Please, at least {0} characters are necessary")
                    },
                    'age3': {
                        required: "Age is required",
                    }
                }
            });
            //$("#form").submit(function (ev) {

            //});
        });
        
        function showSection(idx)
        {
            $('#form').find('section').hide();
            $('#form section:nth-child(' + (idx + 1) + ')').show();
        }

        function validateForm(sender, target)
        {
            var isValid = true;
            $.each($(sender).closest('section').find('input[data-val]'), function (idx, item) {
                if (typeof ($(item).valid) == 'function' && !$(item).valid()) {
                    isValid = false;
                    return;
                }
            });
            if (isValid) {
                showSection(target);
            }
        }
    </script>
}
Tab Navigator:
<h3>My Tags:</h3>

<form id="form" action="#" method="get" onsubmit="validateForm()">
    <section id="part1">
        <div id="extra">part1</div>

        <input id="name" name="name" type="text" data-val="1" />
        <input id="age" name="age" type="text" data-val="1" />

        <a href="#" onclick="validateForm(this, 1); return false;">Next</a>
    </section>
    
    <section id="part2">
        <div id="extra">part2</div>

        <input id="name2" name="name2" type="text" data-val="1" />
        <input id="age2" name="age2" type="text" data-val="1" />

        <a href="#" onclick="validateForm(this, 2); return false;">Next</a>
    </section>

    <section id="part3">
        <div id="extra">part3</div>

        <input id="name3" name="name3" type="text" data-val="1" />
        <input id="age3" name="age3" type="text" data-val="1" />

        <a href="#" onclick="validateForm(this, 'done'); return false;">Next</a>
    </section>
    

</form>




