@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1>Home page of ProjectLightSwitch Project</h1>
        </div>
    </section>
}

@Html.ActionLink("Eric's Testing Section", "Eric")
@Html.ActionLink("Tag Testing", "Index", "Tags", new { area = "SiteAdmin" }, null)
