
@{Layout = "~/Views/Shared/_Layout1.cshtml";}
@RenderPage("~/Views/Shared/_StoryShare_Section.cshtml")
<div id="Container">
    <div class="part_heading">
        <h3>Part Two: Share Your Story</h3>
    </div>
    <div class="part_number">
        <img src="~/Images/orderedList1.png" />
        <img src="~/Images/orderedList2.png" />
        <img src="~/Images/orderedList3.png" />
    </div>
</div>
