@{Layout = "~/Views/Shared/_Layout1.cshtml";}
<div id="Container">
    @RenderPage("~/Views/Shared/_StorySearch_Section.cshtml")
    <div>
        <div style=" float: left; width: 20%;">
            Tagging Portion
            <br />
            Tag >
            <br />
            Tag >
            <br />
            Tag >
            <br />
            Tag >
            <br />
            Insert Tags Here
        </div>
        <div style="float: left; width: 80%;">
            @for (var i = 1; i < 10; i++)
            {@RenderPage("~/Views/Shared/_SearchResult_Section.cshtml","[TITLE TITLE TITLE TITLE]","[AGE]", "[GENDER]","[COUNTRY]","Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean…")}
        </div>
    </div>
</div>