@{Layout = "~/Views/Shared/_Layout1.cshtml";}
<div id="Container">
    <div style="float: left; width: 70%;">
        @RenderPage("~/Views/Shared/_StoryReadMain_Section.cshtml", "[TITLE TITLE TITLE TITLE]", "[AGE]", "[GENDER]", "[COUNTRY]")
    </div>
    <div style ="float: left; width: 29%; padding-right:5px;border-left:1px solid black">
        @for (var i = 1; i < 5; i++)
        {@RenderPage("~/Views/Shared/_SearchResult_Section.cshtml", "[TITLE TITLE TITLE TITLE]", "[AGE]", "[GENDER]", "[COUNTRY]", "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean…")}
    </div>
</div>