@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">

    </section>
}

@section scripts {

<script language="javascript" type="text/javascript">

    var NumRows = 0;
    function AddQuestionRow(tableId, prompt) {

        $('<tr>').append($('<td>').text(prompt)).append($('<td>').append($('<input>').attr('name', 'Question['+NumRows+'].QuestionText'))).appendTo($('#' + tableId));

        NumRows++;
    }
</script>
}
<form action="/Index" method="get">
    <table id="questions"></table>
    <input type="button" value="Add Row" onclick="AddQuestionRow('questions', 'Add a question');" />
    <input type="submit" value="submit" />
</form>