@{
    ViewBag.Title = "Create";
    
    var types = new string[] { "Multiple Choice", "Free response", "slider" };
}

<h2>Create</h2>


@using(Html.BeginForm("Created", "Survey", "post"))
{
    
    Html.DropDownListFor(item=>item,  )
    

}
