@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Site Administration</h2>
<p>
    <ul>
        <li>@Html.ActionLink("Seed Data", "SeedData", "Data")</li>
        <li>@Html.ActionLink("Users", "Index", "User")</li>
        <li>@Html.ActionLink("Tag Management", "Index", "Tags")</li>
        <li>@Html.ActionLink("Story Type Management", "Index", "StoryType")</li>
    </ul>
</p>