div.tagnav {
    background:white;
    border: 2px solid black;
}

div.tagsearch ul,
div.tagsearch ul,
div.tagnav ul,
div.tagnav li {
    
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    padding:0;
    margin:0;
}

div.tagnav .tags > ul {
    width: 20%;
    float: left;
    border: 2px solid black;
}

div.tagnav .tags > ul label {
    display: inline;
}

/* Category List */

div.tagnav .tags {
    overflow: hidden;
}

/* Lower tags */
div.tagnav .tags > .depth_container 
{
    float:left;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: none;
    border-bottom: none;
    width: 200px;
    margin: 0 5px;
}

div.tagnav .tags > .depth_container li {
    padding: 5px 10px;
    border-bottom: 1px solid #808080;
}

div.tagnav .tags > .depth_container {
    margin-bottom: 10px;
    border-bottom: 2px solid black;

}

/* Category Tags */

div.tagnav .tags > .depth_container:first-child 
{
    width: 100%;
    padding: 0px;
    border-bottom: 2px solid black;
    overflow: auto;
    float:none;
    font-weight: bold;
    margin-bottom: 0;
}

div.tagnav .tags > .depth_container:first-child 
{
    background-color: #dddddd;
    width: 100%;
    padding: 0px;
    border-bottom: 2px solid black;
    overflow: auto;
    float:none;
}

div.tagnav .tags > .depth_container:first-child li {
    float: left;
    padding: 5px 10px;
    border-bottom: none;
    border-right: 2px solid black;
}

/* Common Tags*/



div.tagsearch .depth_container li,
div.tagnav .tags > .depth_container li {
    cursor:pointer;
    background-color: #dddddd;
    padding: 5px;
}

div.tagnav .tags > .depth_container li.sel {
    background-color: #a9a9a9;
}

div.tagnav a, div.tagnav a:visited {
    color: blue;
    text-decoration: none;
}

div.tagsearch .decorator,
div.tagnav .decorator {
    float: right;
    margin-right: 25px;
}
/********/

.tagsearch .searchback {
    overflow: hidden;
}

/********/

ul.tabBreadcrumbs {
    float:left;
    padding: 0;
    margin: 10px;
    overflow: auto;    
}

ul.tabBreadcrumbs li {
    list-style: none;
    list-style-image: none;
    float:left;
    background: #656565;
    color: white;
    font-weight: bold;
    margin: 5px;
    padding:7px 10px;
    border-radius: 10px;
    border: 1px solid black;
}

ul.tabBreadcrumbs a, ul.tabBreadcrumbs a:visited, ul.tabBreadcrumbs a:hover  {
    color: white;
    text-decoration: none;
}

.tabBreadcrumbs .close {
    margin:0 4px;
}