div.TagNavigator {
    background:white;
    border: 2px solid black;
    padding: 3px;
}

div.TagNavigator ul {
    
    list-style: none;
    list-style-image: none;
    list-style-type: none;
}

div.TagNavigator .tags > ul {
    width: 20%;
    float: left;
    border: 2px solid black;
    padding:2px;
    margin:2px;
}

div.TagNavigator .tags > ul label {
    display: inline;
}

/* Category List */
div.TagNavigator .tags > ul:first-child {
    width: 100%;
    border: 2px solid black;
    overflow:auto;
    float:none;
}

div.TagNavigator .tags > ul:first-child > li {
    float: left;
    padding: 10px;
    border-right: 2px solid black;
}

div.TagNavigator .tags > ul:first-child::after {
    clear:left;
}


div.TagNavigator a, div.TagNavigator a:visited {
    color:blue;
    text-decoration: none;
}

div.TagNavigator li.sel {
}

div.TagNavigator li.sel a, div.TagNavigator li.sel span {
    font-weight: bold;
    color:red;
}

div.TagNavigator a.editTag {
    font-weight: normal;
    color: blue;
}

div.TagNavigator ul.selectedTags > li {
    float:left;
    background: #272727;
    color: White;
    padding: 5px 3px;
    margin: 4px;

}

div.TagNavigator ul.selectedTags {
    padding:0px;
}

div.TagNavigator ul.selectedTags > li a {
    color: Red;
    
}
       
.clear {
    clear: both;
}