<footer style="margin-top:15px;">
    <table class="full-width" id="contact">
        <tr>
            <td style="width:33%" class="middle left">
                <h2 class="light">Contact</h2>
                <p>
                    Have questions or comments?<br />
                    Send us an email at<br />
                    <a href="#">info@projectlightswitch.org</a>
                </p>
                <p>
                    For all media or press inquiries
                    please put “Press” in the subject
                    line of your email. Thank you!
                </p>
            </td>
            <td style="width:33%" class="middle center">
                <a href="#">Visit us on Facebook</a><br />
                <a href="#">Visit us on Twitter</a>
            </td>
            <td style="width:33%" class="middle center">
                <a class="button1 middle" href="#">Donate Now!</a>
            </td>
        </tr>
    </table>
    <p class="center nopadding nomargin">
        &copy; @DateTime.Now.Year - Project Light Switch
    </p>
</footer>