<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link href="~/Content/Styles/FrontPages.css" rel="stylesheet" />
        <script src="~/Scripts/holder.js"></script>
    </head>
    <body>
        <div id="Container">
            <div id="Header">
                <img class="narrowimg" src="holder.js/257x50"/>
                <input id="Story_Portal" value="Story Portal" type="button" class="topbuttons" onclick="location.href='Home.cshtml'" />
                <input id="Media" value="Media" type="button" class="topbuttons" />
                <input id="Happiness_Ninjas" value="Happiness Ninjas" type="button" class="topbuttons" />
                <input id="Store" value="Store" type="button" class="topbuttons" />
                <input id="About_Us" value="About Us" type="button" class="topbuttons" />
            </div>
            <hr />
        </div>
        @RenderBody()
    </body>
</html>
