<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="~/Scripts/holder.js"></script>
        <link href="~/Content/Styles/FrontPage.css" rel="stylesheet" />
    </head>
    <body>
        <div class="questions_div">
            <div style="float:left; width:30%;">
                <h4>Question @PageData[0]:</h4>
                <br />
                <h5>Lorem ipsum dolor sit amet consectateur nonummy lorenzino.</h5>
            </div>
            <div style="float:right; width:70%">
                <br />
                <textarea style="padding: 10px 10px 10px 10px;" rows="10" cols="75"></textarea>
                <br />
            </div>
        </div>
        <hr />
    </body>
</html>
