
        <div style="height:150px;">
            <div style="width: 100%;">
                <div style="width: 24%; float: left;margin-right:5px;">
                    <h2>Story Search</h2>
                </div>
                <div style="width: 24%; float: left;margin-right:5px;">
                    <h4>Age Range</h4>
                    <input type="range" name="points" min="0" max="100" step="5">
                </div>
                <div style="width: 24%; float: left;margin-right:5px;">
                    <h4>Gender:</h4>
                    <select>
                        <option value="male">male</option>
                        <option value="female">female</option>
                        <option value="other">other</option>
                    </select>
                </div>
                <div style="width: 24%; float: left;margin-right:5px;">
                    <h4>Country:</h4>
                    <select>
                        <option value="USA">USA</option>
                        <option value="Canada">Canada</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div style =" width: 100%; float: left;margin-right:5px;">
                <div style="width: 10%; float: left; margin-right: 5px;">
                    <h3 style="text-align:left;">My Tags:</h3>
                </div>
                <div style="width: 25%; float: left; margin-right: 5px;">
                    Insert Tags Here
                </div>
            </div>
        </div>
        <hr />
