@model IEnumerable<ProjectLightSwitch.Models.Tag>

<style type="text/css">

    
        body {
            padding: 0px;
            margin: 0px;
        }


        div.tagnav > div.tags {

        }


        div#tagnav ul {
            padding: 0px;
            list-style: none;
            list-style-image: none;
            list-style-type: none;
        }

        div#tagnav .tags > ul {
            width: 20%;
            float: left;
        }

        div#tagnav .tags > ul label {
            display: inline;
        }

        /* Category List */
        div#tagnav .tags > ul:first-child {
            width: 100%;
            border: 2px solid black;
            overflow:auto;
            float:none;
        }

        div#tagnav .tags > ul:first-child > li {
            float: left;
            padding: 10px;
            border-right: 2px solid black;
        }

        div#tagnav .tags > ul:first-child::after {
            clear:left;
        }


        div#tagnav a, div#tagnav a:visited {
            color:blue;
            text-decoration: none;
        }

        div#tagnav a.sel {
            color:red;
        }

        
        
        .clear {
            clear: both;
        }


</style>


<h2>TagNavigator</h2>


<form action="#" method="get">
    <div  />
    <div id="editForm">
        <div class="globalEdit">



        </div>

        <table>
            <tr>
                <td>Add </td>

            </tr>

        </table>

        
    </div>
    
 
    <input type="submit" value="Submit" />
</form>