<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ajax Carousel - jCarousel Examples</title>
    <link href="~/Content/Styles/Slider2.css" type ="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jcarousel.ajax.js"></script>
    <script src="~/Scripts/holder.js"></script>
    <script src="~/Scripts/jquery.jcarousel.min.js"></script>
    <link href="~/Content/Styles/jcarousel.ajax.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper">
        <div class="jcarousel-wrapper">
            <div class="jcarousel" data-jcarousel="true">
            <ul style="left: 0px; top: 0px;">
                <li><img src="holder.js/200x100" alt="Image 1"></li>
                <li><img src="holder.js/200x100" alt="Image 2"></li>
                <li><img src="holder.js/200x100" alt="Image 3"></li>
                <li><img src="holder.js/200x100" alt="Image 4"></li>
                <li><img src="holder.js/200x100" alt="Image 5"></li>
                <li><img src="holder.js/200x100" alt="Image 6"></li>
                </ul>
            </div>

            <a href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
            <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
        </div>
    </div>
</body>
</html>